.outer {
    margin: 30px 50px;
}

table {
    width: 63vw;
    margin: 5px 10px;
    border-collapse: separate; 
    border-spacing: 0 8px; 
}

th, td {
    text-align: center;
    padding: 12px 10px; 
}

th {
    font-size: 18px;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leave { 
    background-color: rgb(127, 23, 23); 
}

.office { 
    background-color: rgb(23, 127, 51); 
}

.wfh { 
    background-color: rgb(127, 111, 23); 
}

.client-office { 
    background-color: rgb(23, 59, 127); 
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.775);
    padding: 5px 15px;
    border-radius: 5px;
}